<% layout("/layouts/boilerPlate")%>


<div class=" col-6 offset-3 smshowcontainer">

    <div class="bookinghead">

        <h3>Booking Confirmed </h3> <img src="https://imgs.search.brave.com/8R6BTT3XzaqNKkIiH88pYd5rKz87o9fm-yCD1kCQHHo/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly90NC5m/dGNkbi5uZXQvanBn/LzA4LzExLzc0Lzkz/LzM2MF9GXzgxMTc0/OTM4MV9DY2pKdnEx/ZVVsZ1lvdzRNc3Fq/eU9QWk1sNkFkakdh/aS5qcGc">

    </div>

    <div class="bookingconfirmRef">
    <p>Your Booking Ref : <b><%=confirmedBooking.bookingRef%></b></p>
    </div>

    <div class="bookingGreet">

        <h5>Enjoy Your Stay</h5>
    </div>

    <div class="goback">
        <p>-> Go back to <a href="/listings">home</a></p>
    </div>
</div>