body {
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a{
    text-decoration: none;
}
.container {
    flex: 1;
}

.nav-link {

    color: #222222 !important;
}

.navbar {
    height: 5rem;
    background-color: white;
}

.fa-compass {
    font-size: 2rem;
    color: #fe424d;
}

.f-info {
    background-color: rgb(245, 245, 245);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 8rem;
}

.f-info-links a {
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover {
    text-decoration: underline;
}

.f-info-social i {
    margin: 2px 3px 1px 3px;
    font-size: 1.2rem;

}

.listing-card {
    border: none !important;
    margin-bottom: 2rem;

}

.row {
    margin-top: .5rem !important;
}

.card img {
    border-radius: .8rem;
    object-fit: cover;
    width: 100%;

}

.card-body,
.card-text {
    padding: 0 !important;

}

.card-text {
    font-weight: 800 !important;
}

.listing-link {
    text-decoration: none !important;
}

/* CARD EFFECT */
.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: .2;
    background-color: white;
}

/* NEW PAGE */
.post-btn {
    background-color: #fe424d !important;
    border: none !important;
}
.postButtonsContainer{
    display: flex;
    justify-content: space-between;
}
.bookButton{
    background-color: #fe424d !important;
    color: white !important;
    height: 70px;
    width: 150px;
}
/* //SHOW PAGE */
.show-img {
    /* height: 30vh !important; */
    object-fit: cover !important;

}

.show-card {
    padding-left: 0;
    padding-right: 0;
}

.review_comment {
    font-weight: 600 !important;
    font-size: 1rem;


}

.review_box {
    background-color: whitesmoke !important;
    box-shadow: 2px 4px 8px #ada9a9 !important;
    border: none !important;
    padding: 1rem !important;
    transition: .3s !important;

}

.review_box:hover {
    box-shadow: 4px 8px 16px #ada9a9 !important;
}

#myAlert {
    z-index: 2 !important;
    transition: 1s !important;
}

.loginContainer {
    background-color: rgb(245, 245, 245);
    padding: 20px;
    border-radius: 10px;
}

.signupButton{
    display: flex;
    justify-content: space-between;
}

.secondNav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* padding-bottom: 10px; */
    margin-bottom: -7px;
}
.filterContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* margin-top: 10px; */
    margin-bottom: -15px;
    padding-top: 10px;
}
.filters{
    text-align: center;
    margin: 2px 20px 2px 20px;
    opacity: 0.7;
}
.filters p{
    margin-bottom: 0px;
}

.filters:hover{
    opacity: 1;
   
}
.filterContainer a{
    text-decoration: none;
    color: #222222;
    /* background-color: red; */
    margin-left:1px ;
    padding-top: 10px;
      

    
}
.filterContainer a::after{
    
     content: "";
     position: relative;
     left:25px;
    
    background-color: black;
    height: 3px;
    width: 100%; 
    /* transition: 0.3s; */
}


.form-check{
    width: 250px;
    display: flex !important; 
    border: 1px solid rgba(0,0,0, 0.3);
    border-radius: 20px;
    justify-content:space-between !important;
    align-items:center !important;
    padding:15px 15px 15px 15px!important ;
    margin-top: 20px;
}

.priceafter{
    display: none;
}
.form-check-label {
    font-size: .9rem !important;
}
.search{
    border-radius: 30px !important;
    width: 300px !important;
}
.searchButton{
    border-radius: 30px !important;
    background-color: #fe424d !important;
    color: white !important;
}
.bookingDetails{
    margin: 20px 0 0 0;
    background-color: rgb(245, 245, 245);
    padding: 20px 30px 20px 30px;
    border-radius: 10px;
}
.booking-info-heading{
    display: flex;
    justify-content: space-between;
    font-weight: 200;
    margin-top: 20px;
}

.bookinghead{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.bookinghead h3{
    display: inline;
    padding-top: 5px;
}
.bookinghead img{
    height: 50px;
    width: 70px;
    margin-left: 5px;

    animation-name: swellingAnime;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    
}
.bookingconfirmRef{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.bookingconfirmRef p{
   margin-left: -20px;
}
.bookingGreet{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}
.goback{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

@keyframes swellingAnime {
    0%{
      scale: 1.1;
    }
    100%{
        scale: 1  ;
    }
}

.profile{
    padding: 8px 10px 10px 10px !important; 
    margin-right: 20px !important;
    
    color: black ;
}
.bookingcontainer{
    height: 147px !important;
    width: 220px !important;
}
.bookingcontainer img{
    max-width: 100% !important;
    max-height: 100% !important;
    object-fit: cover;
}
.sidebar{
    height: 100vh;
    
    background-color: white;
    display: none;
}
.humburger{
    display: none;
}
.downcollapsenavbar{
    display: none;
}
.form-checksmappear{
    display: none !important;
}
.grid-container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    border: 1px solid black;
    /* justify-content: center; */
    align-items: center;
   
}
.cell{
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid {
    display: grid;
    /* grid-template-columns: 70% 30%; */
    grid-gap: 2px;
   
    grid-template-columns: 1fr 2fr;
   
  }
  .g-items{
    padding: 10px;
  }
 
  
@media(max-width: 768px){
    .search{
        border-radius: 30px !important;
        width: auto !important;
        margin: auto !important;
    }
    .searchButton{
        border-radius: 30px !important;
        background-color: #fe424d !important;
        color: white !important;
        height: 40px;
        width: 40px;
    }
    .searchLabel{
        display: none;
    }
    .humburger{
        display: inline;
        font-size: larger;
    }
    .smdisappear{
        display: none !important;
    }

    .downcollapsenavbar{
        height: 190px;
        width: 100%;
        z-index: 1;
        background-color: white;
        display: flex;
        top: -100px;
        position: fixed;
        padding-top: 10px;
      
        align-items:normal;
        flex-direction: column;
        transition: all .15s linear;
    }
    .downcollapsenavbarappear{
        top: 80px;
    }
    .downcollapsenavbar a{
        margin: 5px;
        padding: 5px;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
       
    }
    .filterContainer{
        flex-wrap: nowrap;
        max-height: 79px !important;
    }
    .filterContainer a.nav_a{
        max-height: 80px !important;
        height: 80px;
        
    }

    .nav_a .filters{
        height: 80px !important;
        margin: 0px !important;
        max-height: 80px !important;
    }
    .filters p{
        font-size: medium;
    }
    .secondNav{
        max-height: 80px !important;
        /* border: 1px solid #ddd; */
        display: flex !important;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-x: auto !important;
        overflow-y: hidden !important;
        max-height: 80px !important;
        
    }
    #para{
        font-size: 1rem;
    }

    .secondNav .nav_a{
        min-width: 80px !important;
         height: 80px !important;
         padding: 0px !important;
         max-height: 80px !important; 
        margin-right: 5px;
    }
    .filterContainer ::-webkit-scrollbar{
  
        width: 0px !important;
        height: 0px !important;
    }
    .form-check{
        display: none !important;
    }
    .form-checksmappear{
        display: flex !important;
        width: auto;
    }
    .smbtn{
        height:40px;
        width: 80px;
    }
    .signupButton{
        flex-direction: column;
    }
    .loginContainer{
        padding: 20px 0px 0px 0px;
        width: auto !important;
        margin:  auto !important;
        margin-bottom: 50px !important;
    }
    .subform{
        display: flex !important;
        flex-direction: column !important;
    }
    .width{
        width: auto !important;
    }

    .margin{
        margin: auto !important;
        /* padding-left: 2rem !important; */
        align-items: center !important;
        justify-content: space-between !important;
    }
    .aligntext{
        text-align: justify !important;
    }
    .smimage{
        width: 100%;
    }
    .bookingcontainer{
       
        display: flex !important;
        flex: 1 !important;
        padding: 0px 10px 0px 10px !important;
    }
   .smshowcontainer{
    width: fit-content !important;
    margin: auto !important;
   }
   .postButtonsContainer{
    margin: 0px !important;
    width: auto !important;
    padding: 10px !important;

   }
   .smcard{
    width: 250px !important;
   }
   .reviewbtnsm{
    width: 100px !important;
   }

   #map{
    height: 200px !important ;
    width: 300px !important;
    border-radius: 20px;
   }
}
/* MAP */
#map {
   
  
   height: 400px ;
    width: 80%;
}